{% extends 'base.html.twig' %}

{%  block title%}Update your info{% endblock %}

{% block body %}

    {{ parent() }}
    <div class="container pt-2 ">
        <div class="row">
            <div class=" col-8 offset-2 border rounded">
                {# {% if error %}
                    <div><p>{{ error }}</p></div>
                {% endif %} #}

                {{  form_start(updateForm) }}
                <h1 class="h3 mb-3 font-weight-normal">Update your information</h1>
                {# <label for="{{ updateForm.name.vars.value }}"
                       class="{{ form.name.vars.required ? 'required' : '' }}">
                    {{ form.name.vars.label }}
                </label> #}
                {{  form_row(updateForm.Username , { 'value' : app.user.username }) }}
                {{ form_row(updateForm.Password) }}
                {{ form_row(updateForm.email, {'value' : app.user.email }) }}
                {{ form_row(updateForm.firstname , {'value' : app.user.firstname }) }}
                {{ form_row(updateForm.lastname , {'value' : app.user.lastname }) }}
                {# {{ form_rest(updateForm) }} #}
                {# {{ form_widget(updateForm) }} #}
                <button class="btn btn-lg btn-primary" type="submit">
                    Update
                </button>
                {{ form_end(updateForm) }}
               {# <div class="sign in">
                    <p class="text-right"><a  href="{{ path( 'app_login' ) }}">or Sign in</a></p>
                </div> #}
            </div>

        </div>
    </div>
{% endblock %}